.container-drag-drop {
    width: 100%; /* Largeur de la container */
    height: 100vh; /* Hauteur de la container */
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    border-style: dotted;
    border-color: #c3dbf7;
    border-width: 2px;
    border-radius:5px; 
    width: 400px; 
    height:250px;
    background-color: #eef6ff;
    flex-direction: column;
  }

  .title-underline{
    color: #54958c; 
    font-weight: 500; 
    text-decoration: underline;
  }

  .subtitle{
    font-size: 15px;
  }

  .file-name{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-right: "40px"
  }