@font-face {
  font-family: "Bodoni";
  src: url('fonts/Bodoni72/Bodoni72.ttc');
}

@font-face {
  font-family: 'BodoniMedium';
  src: url('fonts/Bodoni72/Bodoni72.ttc');
  font-weight: 500;
  font-style: normal;
}

